#popUpDiv {
  background: linear-gradient(#E10083,#FFD91D, #7BCB56,#fff);
  color: #43008C;
}

#popUpDiv form {
  display: flex;
  flex-direction: column;
  padding:5px;
  justify-content: space-between;
  height:100%;
  align-items : center;
}

#popUpDiv form p{
  margin:0;
}

#popUpDiv input[type="submit"]{
  cursor:pointer;
  width: 60px;
  height:25px;
  background-color:#FFE200;
  font-size:15px;
  border-radius:4px;
}

#cancel {
  border-radius:50%;
  cursor:pointer;
  width: 25px;
  height:25px;
  color:#FFF;
  background-color:#54008B;
  font-weight:bold;
}

