.Content {
  background-color: white;
  width: 70%;
  height:600px;
  margin: 0 auto;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#menuCards {
  width: 15%;
  height: 80%;
  background-color: pink;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#infoDiv{
  width: 20%;
  background-color: pink;
  height:80%;
}

#centralDiv {
  width: 50%;
  height:80%;
  background-color: #394A63;
}