.Main{
  display: grid;
  grid-template-rows: 1fr 4fr 10fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 100px;
  width:80%;
  margin: 0 auto;
}

.centralWindow {
  height: 100%;
}

.menuCards {
 display: grid;
 grid-row-gap: 20px;
}

footer {
  -ms-grid-row:6/-1;
  grid-row: 6/-1;
  padding:20px;
  display: flex;
  justify-content: center;
  background-color: #FFD91D;
}