/* .MenuCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: blue;
  height:20%;
}

 .MenuCard #img-div {
  width:50%;
  height:50%;
}

.MenuCard  #img-div img {
  max-height:100%;
  width:auto;
  overflow: hidden;
} */